#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  margin-top: 8px;
  width: "100%";
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 8px;	
  justify-content: center;
}





.header img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.headerAndTools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8pxs;
}


.footer {
  width: "100%";
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons__wrapper {
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;  
  margin-bottom: 12px;
}

.thumbnails {
  padding: 8px;
  grid-column: 1 / -1;
  grid-gap: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  grid-template-areas:
    "large1 large2"
    "small1 small2 small3";
  align-content: start;
  min-height: calc(100vh - 356px);
}

.thumbnails div:nth-child(5n) {
  grid-column: span 2;
  grid-row: span 2;
}

.thumbnails div:nth-child(10n) {
  grid-column: span 3;
  grid-row: span 3;
}


body {
  background-image: url('./assets/homeImages/background1.jpg');
  background-size: contain;
  background-size: 40%;
}

/* style={{ display: "flex", gap: 8, minHeight: "calc(100vh - 356px)", padding: 12 }} */